@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root{
    --color: #fc650b;
    --border: 1px solid #21212157;
}
*{
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}